<div>
  <h3>参加中のラリー</h3>
  <ul id="rally_participate"></ul>
</div>
<div>
  <h3>開催中のラリー</h3>
  <ul id="rally_list"></ul>
</div>
<div>
  <%= link_to "Drow Tags", "#", onclick: "drowTag();return false;" %>
</div>
<div>
  <%= link_to "Tracking Prius", "#", onclick: "trackingPrius();return false;" %> |
  <%= link_to "Stop",           "#", onclick: "trackingStop();return false;" %> 
</div>
<br />

<div id="street_view"></div>