<div class="timeline">
  <header class="timeline-header">
    <h1>Timeline</h1>
  </header>
  <div class="timeline-content">
    <% 10.times do %>
      <%= render "tweet", 
        timestamp: "15m",
        fullname: "UserName", 
        username: "username", 
        avatar_url: "http://mobile.gungho.jp/library/img/details/pad/kabegami/Echidna.gif", 
        message: "Message.Hello, world." %>
    <% end %>
  </div>
</div>