<div class="timeline">
  <header class="timeline-header">
    <h1>Timeline</h1>
  </header>
  <div class="timeline-content">
    <% 10.times do %>
      <article class="tweet-item">
        <header class="tweet-header">
          <div class="tweet-img">
            <img class="tweet-avatar" src="http://mobile.gungho.jp/library/img/details/pad/kabegami/Echidna.gif" />
          </div>
          <div class="nbfc">
            <b class="fullname">UserNames</b>
            <span class="username">
              <span class="at">@</span>username
            </span>
          </div>
        </header>
        <div class="tweet-content">
          <div class="tweet-body">
            Message.<br />
            Hello, world.
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>