<% content_for :sidebar do %>
  <div>
    <p>参加中のラリー</p>
    <ul id="rally_participate"></ul>
  </div>
  <div>
    <p>開催中のラリー</p>
    <ul id="rally_list"></ul>
  </div>
  <div>
    <a href="#" onclick="drowTag();return false;">Drow Tags</a>
  </div>
  <div>
    <a href="#" onclick="trackingPrius();return false;">Tracking Purius</a> |
    <a href="#" onclick="trackingStop();return false;">Stop</a>
  </div>
  <br />
  
  <div id="street_view"></div>
<% end %>

<div id="map" style="width:1024px; height:768px"></div>
