<% content_for :sidebar do %>
  参加中のラリー
  <ul>
    <li><%= link_to "艦これスーパーラリー2013" %>
  </ul>
  
  開催中のラリー
  <ul>
    <li><%= link_to "花いろ湯涌温泉ラリー" %>
    <li><%= link_to "メガネブ" %>
    <li><%= link_to "佐々成政 戦場ラリー" %>
  </ul>
<% end %>

<div id="map" style="width:1024px; height:768px"></div>


<script>
console.log(ymap)
</script>
