// http://colorschemedesigner.com/#3-61ThN--F3SM

$bg-color: #FFF;
$color1: #EB0600;
$color2: #B57DFF;
$color3: #B57DFF;
$color4: #B57DFF; 

body#body {
  background-color: $bg-color;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#header {
  #login-info {
    float: right;
  }
  
  #logo {
    text-align: center;
    img {
      width: 100%;
    }
  }
  background-color: $color1;
  margin: 0;
  padding: 0;
}

#main {
  clear: both;
  
  #sidebar {
    float: left; 
    width: 20%;
    height: 100%;
    position: relative;
    
    div#street_view{
      background-color: #fff;
      img{
        padding: 3px;
        border: 1px solid #3c3c3c;
        width: 98%;
      }
    }
  }
  #content {
    float: left;
    width: 60%;
  }
  
  #timeline {
    float: left;
    width: 20%;
    
    header.timeline-header {
      border-bottom: 1px solid #222426;
      padding: 0 10px;
    }
    
    div.timeline-content {
      height: 580px;
      overflow-y: scroll;
    }
  }
}

#footer {
  clear: both;
}
